Old/
data/genomes/*.gz
data/reference/fasta_files/*.fas
data/reference/selected/hmm/*.hmm
data/reference/selected/*
out/genes/
out/genomes/
run/alignments/
run/astral/
run/hmmer/
run/plast/
run/trees/
tmp/
run4uppmax.tgz
testdata/
testdata.tgz
DEBUG.md
*.swp
src-extra/
